<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Springit</title>
</head>
<body>

<!--thymeleaf will show the message in the h1 tag. unless my controller holds an attribute for "title", then the messg in the controller will be displayed-->
<h1 th:text="${title}">Default Welcome Message</h1>

</body>
</html>